<!DOCTYPE html>
<html data-ng-app="desireview">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 1st Show Response</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-content">
        <div class="container-fluid">
            <div class="row-fluid logo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 logo-image"><a href="#/"><img src="~/Images/logo.png" /></a></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2 userinfo">

                        </div>
                        <div class="col-sm-2 userinfo">
                        </div>
                        <div class="col-sm-2 userinfo"><a href="#/loginorregister">Login/Register</a></div>

                        <div class="col-sm-1 userinfo">
                            <a href="#/contact">Contact</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()

        </div>
    </div>

    <footer class="desi-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><p>&copy; @DateTime.Now.Year - 1st Show Response</p></div>
                <div class="col-sm-8"><p><span>Designed and Developed By Jayanth Sunchu</span></p></div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
